*.sw[a-p]
*.o
*~
*.chr
/obj/nes/*.s
/zip.in
*.nes.deb
/map.txt
/fdsmap.txt
/nsfmap.txt
__pycache__/
*.pyc
/ruder.nes
/ruder.fds
/ruder.nsf
/ruder-*.zip

# this is NES homebrew, not DSiWare
*.DS_Store


